.img-todo-app {
    width: 100%;
    border-radius: 15px;
    height: 70%;
}

.work-h2 {
    color: white;
    font-family: 'pixel-font';
    text-align: center;
    font-size: 1.5rem;
}

.row-1-works {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.h3-projects {
    color: white;
    font-family: 'pixel-font';
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.main-container-projects {
    width: 100%;
}

.article-projects {
    width: 50%;
    margin: 10rem auto;
}

.work-p {
    font-family: 'dongle-regular';
    color: white;
    font-size: 22px;
    letter-spacing: 1px;
}

.work{
    text-align: center;
    width: 300px;
}




@media only screen and (max-width: 90em) {
    .article-projects {
        width: 60%;
        margin: 10rem auto;
    } 

    .img-todo-app {
        height: 70%;
    }
}

@media only screen and (max-width: 64em) {
    .article-projects {
        width: 70%;
        margin: 10rem auto;
    } 

    .img-todo-app {
        height: 70%;
    }

    .row-1-works{
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .work{
        width: 300px;
    }
}

@media only screen and (max-width: 48em) {
    .article-projects {
        width: 80%;
        margin: 10rem auto;
    } 

    .img-todo-app {
        height: 70%;
    }
}

@media only screen and (max-width: 27em) {
    .article-projects {
        width: 95%;
        margin: 10rem auto;
    } 

    .row-1-works {
        display: block;
    }

    .img-todo-app {
        height: 70%;
    }

    .work {
        width: 90%;
        margin: 0 auto;
    }
}