.navbar.navbar-expand-lg{
    background-color: #0B0F1F !important;
}

.navbar-brand{
    color: #ffffffeb !important;
    font-family: pixel-font;
    font-size: 1.5rem !important;
}

.navbar-toggler{
    border-color: #ffffffeb !important;
}

.navbar-collapse .navbar-nav .nav-link{
    color: #ffffffeb !important;
    font-family: pixel-font;
    font-size: 1.5rem;
    transition: color .80s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.navbar-collapse .navbar-nav .nav-link:hover{
    text-decoration: underline;
}

.form-check {
    margin-bottom: 0rem !important;
}

.form-switch {
    padding-left: .5em !important;
}

@media only screen and (min-width: 1441px) {
    .container-navbar-menu .navbar .container{
        max-width: 768px;
    }
}

@media only screen and (max-width: 90em) {
    .navbar-collapse .navbar-nav .nav-link{
        font-size: 1.5rem;
    }

    .navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top .container {
        max-width: 1024px;
    }
    
}
@media only screen and (max-width: 64em) {
    .navbar-collapse .navbar-nav .nav-link{
        font-size: 1.5rem;
    }
    
}
@media only screen and (max-width: 48em) {
    .navbar-collapse .navbar-nav .nav-link{
        font-size: 1.5rem;
    }

    .navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top .container {
        max-width: 100%;
    }
    
}
@media only screen and (max-width: 27em) {
    .navbar-collapse .navbar-nav .nav-link{
        font-size: 1.5rem;
    }
}

/*estilos toggle*/
/* Hide the checkbox from view */
#toggle {
    display: none;
}

.button {
    display: inline-block;
    width: 50px;
    height: 18px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    top: 4px;
}

.button::after {
    content: url('../../assets/Img/dom.png');
    width: 30px;
    height: 30px;
    background-color: #e03c3c;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    position: absolute;
    top: -6px;
    left: 0;
    display: grid;
    place-content: center;
    line-height: 0;
    transition: background-color 1s,
        transform .5s ease-in;
}

#toggle:checked+.button::after {
    content: url('../../assets/Img/eclipse.png');
    background-color: #1f257f;
    transform: translateX(25px) rotate(360deg);
}
