.container-principal-text{
    text-align: left;
    width: 85%;
    margin: 0 auto;
}

.h2-principal-text{
    color: #ffffffeb;
    font-family: pixel-font;
    font-size: 2rem;
    text-decoration: underline;
}

.p-principal-text{
    color: #ffffffeb;
    font-family: dongle-regular;
    font-size: 1.5rem;
}

