body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family:'dongle-bold';
  src:local(dongle),
  url('./assets/fonts/Dongle-Bold.ttf');
  font-weight: bold;
}

@font-face{
  font-family:'dongle-light';
  src:local(dongle),
  url('./assets/fonts/Dongle-Light.ttf');
  font-weight: lighter;
}

@font-face{
  font-family:'dongle-regular';
  src:local(dongle),
  url('./assets/fonts/Dongle-Bold.ttf');
  font-weight: regular;
}

@font-face{
  font-family:'pixel-font';
  src:local(pixel),
  url('./assets/fonts/VT323-Regular.ttf');
  font-weight: regular;
}

@font-face{
  font-family:'roboto-regular';
  src:local(roboto),
  url('./assets/fonts/RobotoMono-Regular.ttf');
  font-weight: regular;
}
